#maincontainer {

}

#query_progress {
    position: fixed;
    width: 100%;
    height: 10px;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
}

#search_ui_group_0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.search_ui.row {
    margin-bottom: 20px;
}

#vehicle_table_container {
    height: 100px;
    overflow: auto;
}

#vehicle_table_container thead.tableFloatingHeaderOriginal {
    margin-top: -2px !important;
}

#vehicle_table thead tr {
    background-color: #ffffff;
}

