body {
    padding-bottom: 0px;
    padding-top: 0px;
}

#bootloader_progress {
    width: '33%';
    height: '10px';
}

#bootloader_error > div {
    padding-left: 30px;
    padding-top: 90px;
}

#bootloader_error > div > span {
    color: #dddddd;
    font-size: small;
}

#query_progress {
    z-index: 999;
    background-color: #f5f5f5;
}

#query_progress > div {
    width: 45%;
}

#query_progress {
    position: fixed;
    width: 100%;
    height: 10px;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0);
}

#navbar_row {
    z-index: -1;
}

#navbar_row > div {
    padding-left: 0px;
    padding-right: 0px;
}

#beta_tag {
    float: left;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    font-size: smaller;
    margin-left: 88px;
    margin-top: -22px;
    color: #ca1c1c;
}

#maincontainer {

}

#search_ui_group_0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#search_ui_row {
    margin-bottom: 20px;
}

#search_ui_scroll_container {
    max-height: 275px;
    overflow-y: auto;
}

#search_ui_show_btn_container {
    position: absolute; top: 0px; right: 0px
}

#search_ui_show_btn {
    display: none
}

#search_button_container_rel {
    position: relative; 
    height: 50px;
}

#search_button_container_abs {
    position: absolute; 
    bottom: 0px; 
    right: 0px;
}

#search_hide_button_container_abs {
    position: absolute; 
    top: 0px; 
    right: 0px;
}

.selectize_control * {
    z-index: 999;
}

#execute_search {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 22px;
    padding-right: 22px;
}

#result_tab_row {
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 42px;
}

#result_tab_row > div {
    height: 42px;
}

#result_controls_map {
    display: none;
}

#result_stats {
    font-size: smaller;
}

#vehicle_map_row {
    display: none;
}

#table_pagination {
    margin: 0px 0px 0px 0px;
}

#table_pagination>li>a {
    color: #000000;
}

#table_pagination > li > a {
    padding-left: 6px;
    padding-right: 6px;
}

#table_pagination_prev,
#table_pagination_next,
.table_pagination_page {
    /*font-size: small;*/
}

.table_pagination_page.disabled {

}

#table_pagination li.disabled a {
    color: rgb(233,233,233);
    border-left-color: transparent;
    background-color: rgb(233,233,233);
}

#vehicle_table_view {
    position: relative;
}

#vehicle_table_container {
    height: 100px;
    overflow: auto;
    /* always show the scrollbar next to #vehicle_table_column_selector */
    overflow-y: scroll;
}

#vehicle_table th {
    overflow: hidden;
    white-space: nowrap;
    /**text-overflow: ellipsis;**/
}

#vehicle_table td {
    /**overflow: hidden;
    white-space: nowrap;**/
    word-wrap: break-word;
}

#vehicle_table_column_selector {
    position: absolute;
    top: 0px;
    /* left of the scrollbar */
    right: 18px;

    z-index: 99;
}

#vehicle_table_column_selector > button {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 3px;
}

#vehicle_table_column_selector_menu_container {
    height: 300px;
    overflow-y: auto;
}

.column_selector_selected a {
    font-weight: bold !important;
}

#vehicle_table_container thead.tableFloatingHeaderOriginal {
    margin-top: -2px !important;
}

#vehicle_table thead tr {
    background-color: #ffffff;
}

#footer_row {
    padding-top: 3px; 
    border-top: 1px solid #ddd;
}

#footer_row > * {
    font-size: 10px;
}

